.idea
__pycache__
models/my_nlp_el_cnn1/config.cfg
models/my_nlp_el_cnn1/entity_linker/cfg
models/my_nlp_el_cnn1/entity_linker/kb/contents
models/my_nlp_el_cnn1/entity_linker/kb/strings.json
models/my_nlp_el_cnn1/entity_linker/model
models/my_nlp_el_cnn1/meta.json
models/my_nlp_el_cnn1/ner/cfg
models/my_nlp_el_cnn1/ner/model
models/my_nlp_el_cnn1/ner/moves
models/my_nlp_el_cnn1/sentencizer.json
models/my_nlp_el_cnn1/tagger/cfg
models/my_nlp_el_cnn1/tagger/model
models/my_nlp_el_cnn1/tok2vec/cfg
models/my_nlp_el_cnn1/tok2vec/model
models/my_nlp_el_cnn1/tokenizer
models/my_nlp_el_cnn1/vocab/key2row
models/my_nlp_el_cnn1/vocab/lookups.bin
models/my_nlp_el_cnn1/vocab/strings.json
models/my_nlp_el_cnn1/vocab/vectors
models/my_nlp_el_cnn1/vocab/vectors.cfg
